name : Java CI with Maven

on :
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build McpSpring-Server
        run: mvn -B -f McpSpring-Server/pom.xml clean verify -DskipTests
      - name: Build McpSpring-client
        run: mvn -B -f McpSpring-client/pom.xml clean verify -DskipTests
      - name: Build ChatbotAlge
        run: mvn -B -f ChatbotAlge/pom.xml clean verify -DskipTests
      - name: Build FrontEnd
        run: mvn -B -f FrontEnd/pom.xml clean verify -DskipTests
